$background: #263238;
$text: #b0bec5;
$accent: #009688;
$border: #000;
$link: #80cbc4;
$linkVisited: #546e7a;
$linkHover: #c3e88d;
$linkFocus: #f07178;
$button: #2E3C43;
$buttonSelection: #546E7A;

body {
  background: $background;
  color: $text;
}

h1, h2, h3, h4, h5, h6 {
  color: $accent;
}

ul, li {
  padding: 0;
  margin: 0 0 0 10px;
}

table {
  width: 80%;
  border: none;
  margin: 0 auto;

  th, td {
    padding: 5px;
    vertical-align: top;
    text-align: left;
    border-bottom: 1px solid $border;
  }
}

a {
  color: $link;
  text-decoration: none;
}

a:visited {
  color: $linkVisited;
}

a:hover {
  color: $linkHover;
  transition: color 200ms;
}


a:focus {
  color: $linkFocus;
  transition: color 200ms;
}

nav {
  display: flex;
  flex-wrap: wrap;
}

nav a {
  display: block;
  padding: 15px 25px;
  text-align: center;
  background-color: $button;
  color: $text;
  margin: 0;
}

nav a:visited {
  color: $text;
}

nav a:hover, nav a:focus {
  background-color: $buttonSelection;
  color: $linkFocus;
  transition: color, background-color 200ms;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;

  .others-container {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  .exercises-container {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
  }

}

#logo {
  margin-right: 8px;
  height: 50px;
  transition-duration: 500ms;
  transition-property: height, padding-bottom, padding-left, padding-right, padding-top;
}

#logo:hover {
  height: 30px;
  padding: 10px;
  transition-duration: 500ms;
}